/* ho fatto un reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* contenitori e stili generici */
a{
  text-decoration: none;
  color: rgb(6, 16, 17);
}

.container-btn a{
  color: rgb(35,39,42);
}

.btn{
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
}

/* /contenitori e stili generici */

/* header section */
header {
  background-color: #255EE9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

nav li{
  display: inline-block;
  margin-left: 30px;
}

.logo{
  float: left;
  width: calc(100% / 3 - 50px);
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .containerPulsante {
  float: left;
  width: calc(100% / 3 - 50px);
  line-height: 37px;
  text-align: right;
}

.links ul {
  display: flex;
  list-style: none;
}

.links ul li {
  margin-right: 20px;
}

.button-app {
  text-align: right;
}

.button-app{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  padding: 8px 16px;
}
/* /header section */

/* pulsanti jumbotron */
.jumbotron{
  position: relative;
}

.jumbotron img{ 
  max-width: 100%;
  height: auto;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* ho utilizzato per centrare verticalmente e orizzontalmente un elemento nel suo contenitore genitore. Il valore -50% viene applicato sia sull'asse X (orizzontale) che sull'asse Y (verticale). È un metodo per centrare un elemento all'interno del suo contenitore in modo dinamico, indipendentemente dalle dimensioni dell'elemento stesso.*/
  width: 40%;
  text-align: center;
  font-size: 40px;
  color: white;
}

.center p{
  font-size: 25px;
  margin: 50px 0; 
}

.center .container-btn{
  font-size: 25px;
  display: inline-block;
}

.download, .browser{
  padding: 20px 40px;
}

.download i{
  padding-right: 10px;
}

.download{
  margin-right: 30px;
}

#white{
  background-color: rgb(35,39,42);
  color: white;
}


/* ho aggiunto una classe section, per definire lo spazio  */
.section{
  padding: 30px 0;
}

.reverse{
  flex-direction: row-reverse;
}

.bg-grey{
  background-color: rgb(210, 210, 210);
}

.green-contenuto{
  background-color: rgb(35, 138, 49);
  height: 800px;
}

/* footer  */
footer{
  background-color: rgb(40, 43, 46);
}

.cols{
  width: 25%;
}

.footer-contenuto{
  padding-bottom: 20px;
}

.footer-grande{
  background-color: rgb(14, 177, 169);
  flex-grow: 2;
  height: 600px;
}
.footer-piccolo{
  background-color: rgb(242, 127, 127);
  flex-grow: 1;
}

.horizontal-rule {
  border-top: 1px solid rgb(255, 255, 255);
  margin-bottom: 15px;
}

.end-footer{
  background-color: rgb(121, 255, 213);
  padding: 15px 0;
}

.logo-footer,
.bottone-footer{
  background-color: rgb(255, 180, 191);
  padding: 5px;
}

