/* ho fatto un reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* contenitori e stili generici */
a{
  text-decoration: none;
  color: white;
}

.btn a{
  text-decoration: none;
  color: rgb(35,39,42);
}
.container-btn a{
  color: rgb(35,39,42);
}

.btn{
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
}

h1{
  display: block;
  font-weight: bold;
 }

 p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
/* /contenitori e stili generici */

/* header section */
header {
  background-color: #255EE9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

nav li{
  display: inline-block;
  margin-left: 30px;
}

.logo{
  float: left;
  width: calc(100% / 3 - 50px);
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container-btn {
  float: left;
  width: calc(100% / 3 - 50px);
  line-height: 37px;
  text-align: right;
}

.links ul {
  display: flex;
  list-style: none;
}

.links ul li {
  margin-right: 20px;
}


/* /header section */

/* pulsanti jumbotron */
.jumbotron{
  position: relative;
}

.jumbotron img{ 
  max-width: 100%;
  height: auto;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* ho utilizzato per centrare verticalmente e orizzontalmente un elemento nel suo contenitore genitore. Il valore -50% viene applicato sia sull'asse X (orizzontale) che sull'asse Y (verticale). È un metodo per centrare un elemento all'interno del suo contenitore in modo dinamico, indipendentemente dalle dimensioni dell'elemento stesso.*/
  width: 40%;
  text-align: center;
  font-size: 40px;
  color: white;
}

.center p{
  font-size: 25px;
  margin: 50px 0; 
}

/* pulsanti jumbotron */
.center .container-btn{
  font-size: 25px;
  display: inline-block;
}

.download, .browser{
  padding: 20px 40px;
}

.download i{
  padding-right: 10px;
}

.download{
  margin-right: 30px;
}

#white{
  background-color: rgb(35,39,42);
  color: white;
}


/* sezioni main */
main section:nth-child(even){
  background-color: rgb(238, 238, 238);
}

main section{
  height: 100%;
  padding: 25% 0;
}

.container3{
  float: left;
}

.container4 p{
  margin-top: 20px;
  font-size: 25px;
}

.container2{
  font-size: 30px;
}

/* img e testo invertiti */
.reverse3{
  float: right;
}

.reverse4{
  float: left;
  width:25%;
}

/* footer  */
.contenuto {
  text-align: center;
}

.container2 .download {
  background-color: #8ea1e1;
  color: white;
  font-size: 20px;
}

.container2 .btn2 {
  text-align: center;
  margin: 70px;
}
.cols{
  width: 25%;
}

.footer-contenuto{
  padding-bottom: 20px;
}

.footer-grande{
  background-color: rgb(14, 177, 169);
  flex-grow: 2;
  height: 600px;
}
.footer-piccolo{
  background-color: rgb(242, 127, 127);
  flex-grow: 1;
}

.horizontal-rule {
  border-top: 1px solid rgb(255, 255, 255);
  margin-bottom: 15px;
}

.end-footer{
  background-color: rgb(121, 255, 213);
  padding: 15px 0;
}

.logo-footer,
.bottone-footer{
  background-color: rgb(255, 180, 191);
  padding: 5px;
}

